/*@font-face {
    font-family: 'helvaticaFont';
    src: url('../fonts/fonts/HelveticaCyr-Bold.otf?#iefix') format('embedded-opentype'),  
    url('../fonts/fonts/HelveticaCyr-Bold.woff') format('woff'), 
    url('../fonts/fonts/HelveticaCyr-Bold.ttf')  format('truetype'), 
    url('../fonts/fonts/HelveticaCyr-Bold.svg#CenturyGothic') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

@font-face {
  font-family: 'Helveticauppercase';
  src: url('../fonts/fonts/HelveticaNeueLTGEOW82-45Lt-Regular.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/fonts/HelveticaNeueLTGEOW82-45Lt-Regular.woff') format('woff'), 
  url('../fonts/fonts/HelveticaNeueLTGEOW82-45Lt-Regular.ttf')  format('truetype'), 
  url('../fonts/fonts/HelveticaNeueLTGEOW82-45Lt-Regular.svg#HelveticaNeueLTGEOW82-45Lt-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'NotoSansGeorgian';
    src: url('../fonts/fonts/NotoSansGeorgian.eot');
    src: url('../fonts/fonts/NotoSansGeorgian.eot?#iefix') format('embedded-opentype'),
         url('../fonts/fonts/NotoSansGeorgian.woff') format('woff'),
         url('../fonts/fonts/NotoSansGeorgian.ttf') format('truetype'),
         url('../fonts/fonts/NotoSansGeorgian.svg#helveticaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
.g-pickup-button{ padding: 5px 0;  }
.siterules label a{ font-family: 'NotoSansGeorgian'; }
.footer__list-item a{ font-family: 'NotoSansGeorgian'; }
.form-control-1-label select{ font-family: 'NotoSansGeorgian' !important; }
.transport__type{ font-family: 'NotoSansGeorgian' !important; }
.profile-info__val{ font-family: 'NotoSansGeorgian' !important; }
.order-details .align-items-center .col-3{ font-family: 'NotoSansGeorgian' !important; font-size: 16px; }
.form-control{ font-family: 'NotoSansGeorgian' !important; }
.text-holder--tour-details{ font-family: 'NotoSansGeorgian' !important; }
.block .text{ font-family: 'NotoSansGeorgian' !important; }
.text-holder p{ font-family: 'NotoSansGeorgian' !important; }
.cart-table td{ font-family: 'NotoSansGeorgian' !important; }
.modal-body p{ font-family: 'NotoSansGeorgian' !important; }
.nav-link span{ font-family: 'NotoSansGeorgian' !important; }
.NotoSansGeorgian{ font-family: 'NotoSansGeorgian' !important; }


/*@font-face { Roboto,sans-serif
  font-family: 'Helveticaregularbold';
  src: url('../fonts/fonts/Helvetica-Boldx.ttf')  format('truetype');
  font-weight: normal;
  font-style: normal;
}*/
/**{ font-family: 'Helveticaregularbold' !important;  }*/
.menu--header .menu__link{  font-family: 'Helveticauppercase'; }
.quick-links__title{  font-family: 'Helveticauppercase'; }
.tours-carousel__item-link{  font-family: 'Helveticauppercase'; }
.footer__list-title{ font-family: 'Helveticauppercase'; }
.copyright{ font-family: 'Helveticauppercase'; }
.modal-title{ font-family: 'Helveticauppercase'; }
button{ font-family: 'Helveticauppercase'; }
.forgot-password{ font-family: 'Helveticauppercase'; }
.page-title{ font-family: 'Helveticauppercase'; }
.transfer-heading{ font-family: 'Helveticauppercase'; }
.form-control-1-label span{ font-family: 'Helveticauppercase'; }
.transport__label-text{ font-family: 'Helveticauppercase'; }
.profile-info__key{ font-family: 'Helveticauppercase'; }
.orders__title{ font-family: 'Helveticauppercase'; }
.order-details-headers .col-3{ font-family: 'Helveticauppercase'; }
.change-password span{ font-family: 'Helveticauppercase'; }
.change-password-form__title{ font-family: 'Helveticauppercase'; }
.form-label-text{ font-family: 'Helveticauppercase'; }
.tour-title{ font-family: 'Helveticauppercase'; }
.title h3{ font-family: 'Helveticauppercase'; }
.menu__link{ font-family: 'Helveticauppercase' !important; }
.text-holder h6{ font-family: 'Helveticauppercase' !important; }
.cart-table thead th{ font-family: 'Helveticauppercase' !important; }
.select-payment-method-title{ font-family: 'Helveticauppercase' !important; }
.form-label{ font-family: 'Helveticauppercase' !important; }
.form-group label{ font-family: 'Helveticauppercase' !important; }
.facebookLogin{ margin: 0; padding: 0; width: 100%; height: 45px; background-color:#395398; position: relative;  }
.facebookLogin:after{ content: ''; margin: 0; padding: 0; width: 25px; height: 27px; position: absolute; background-image: url('../../../img/fbimage.png'); background-repeat: no-repeat; background-size: cover; right: 10px; top: 9px;  }
.facebookLogin span{ display: block; text-align: center;  font-size: 18px; line-height: 45px; color: white; font-family: 'Helveticauppercase'; cursor: pointer; }
h1,h2,h3,h4,h5,h6,label,p,ul{margin-bottom:0}button,hr,input{overflow:visible}progress,sub,sup{vertical-align:baseline}[type=checkbox],[type=radio],legend{box-sizing:border-box;padding:0}*,legend{padding:0}body,mark{color:#000}:focus,a:focus,button:focus{outline:0}a:hover{text-decoration:none}a,button,input,li,textarea{-webkit-transition:all .2s linear;-moz-transition:all .2s linear;-o-transition:all .2s linear;transition:all .2s linear}ul{list-style:none}/*! normalize.css v7.0.0 | MIT License | github.com/necolas/normalize.css */html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body,html{height:100%}.site{display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-box-orient:vertical;-webkit-box-direction:normal;-webkit-flex-direction:column;-ms-flex-direction:column;flex-direction:column}audio,canvas,progress,video{display:inline-block}.site__footer,.site__header{-webkit-box-flex:0;-webkit-flex:none;-ms-flex:none;flex:none}.site__content{-webkit-box-flex:1;-webkit-flex:1 0 auto;-ms-flex:1 0 auto;flex:1 0 auto;width:100%}*{margin:0}hr{box-sizing:content-box;height:0}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}dfn{font-style:italic}mark{background-color:#ff0}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative}sub{bottom:-.25em}sup{top:-.5em}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-size:100%;line-height:1.15;margin:0}button,select{text-transform:none}[type=reset],[type=submit],button,html [type=button]{-webkit-appearance:button}[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner{border-style:none;padding:0}[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring{outline:ButtonText dotted 1px}fieldset{padding:.35em .75em .625em}legend{color:inherit;display:table;max-width:100%;white-space:normal}textarea{overflow:auto}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}[hidden],template{display:none}body{font-family:Roboto,sans-serif}
.g-new-timepickbox table tr td span{ font-family: 'NotoSansGeorgian' !important; }
#purchase-terms-modal > div > div > div.modal-footer.justify-content-center.pt-0 > a{ font-family: 'NotoSansGeorgian' !important; }
#terms-modal > div > div > div.modal-footer.justify-content-center.pt-0 > a{ font-family: 'NotoSansGeorgian' !important; }
.transport__list-item:not(:first-child){
    margin-left:38px;
}
.page-content .container h5{ font-size: 1.25rem !important; font-family: 'NotoSansGeorgian' !important; }
.order-details-headers{ font-family: 'NotoSansGeorgian' !important; }
.order-details{ font-family: 'NotoSansGeorgian' !important; }
.have-an-account{ font-family: 'NotoSansGeorgian' !important; }