#Options +FollowSymLinks

Options -Indexes

IndexIgnore */*
RewriteEngine On
# images|styles|scripts|uploads|_manager|_website|_cache|
RewriteRule ^(images|styles|scripts|uploads|flash|_manager|_website|img|_javascript|.*\.(pem|doc|docx|xls|xlsx|css|js|jpg|JPG|mp3|jpeg|JPEG|gif|GIF|swf|xml|png|PNG|pdf|ico|zip|rar|html|php|txt|sql)) - [L]
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php [QSA,L]

# block access to some sensible files
<Files ~ "^sftp-config.json|.gitignore|.sass-cache|.htaccess">
  Order allow,deny
  Deny from all
</Files>

RewriteCond %{HTTP_USER_AGENT} ^.*(PhantomJS|wget|HTTrack|python).*$ [OR]
RewriteCond %{REQUEST_URI} ^.*poo_master/price_parse.*$ 
RewriteRule . - [F,L]

# force non-www domain
RewriteCond %{HTTP_HOST} ^www\.beetrip\.ge$ [NC]
RewriteRule (.*) https://beetrip.ge/$1 [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]
